<% provide(:title, "ユーザー編集") %>
<div class="col-md-offset-2 mb-4 edit-profile-wrapper">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="profile-form-wrap">
        <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :username, "ユーザーネーム" %>
            <%= f.text_field :username, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <%= f.submit "変更する", class: "btn btn-primary" %>
        <% end %>

        <%=link_to "パスワード変更", user_password_path %>
        <%= link_to "アカウント削除", user_registration_path,
                                      method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %>
      </div>
    </div>
  </div>
</div>