<div class="jumbotron jumbotron-extend">
  <div class="container">
    <div class="display-1 text-center">
     <strong>Instalike</strong>
    </div>
  </div>
  <div class="center">
    <%=link_to "サインアップ", new_user_registration_path, class: "btn btn-secondary" %>
    <%=link_to "サインイン", new_user_session_path, class: "btn btn-info" %>
  </div>
</div>