<% provide(:title, "パスワード編集") %>
<div class="col-md-offset-2 mb-4 edit-profile-wrapper">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="profile-form-wrap">
        <%= form_with model: current_user, url: users_password_edit_path, local: true, method: :patch do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">
            <%= f.label :current_password, "現在のパスワード" %>
            <%= f.password_field :current_password, autofocus: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, autofocus: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "パスワードの確認" %>
            <%= f.password_field :password_confirmation, autofocus: "off", class: "form-control" %>
          </div>

          <%= f.submit "変更する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>