<% provide(:title, @title) %>
<div class="profile-wrap">
<div class="row">
 <aside class="col-md-4 text-center">
  <%= image_tag avatar_url(@user), class: "round-img" %>
  <section class="stats">
   <%= render 'users/stats' %>
   </section>
 </aside>
 <div class="col-md-8">
  <h5 class="center"><%= @title %></h5>
  <% if @users.any? %>
   <%= will_paginate %>
   <ul class="users follow">
    <%= render @users %>
   </ul>
   <%= will_paginate %>
  <% end %>
 </div>
</div>
</div>