<% provide(:title, "ユーザー詳細") %>
<div class="profile-wrap">
  <div class="row">
    <div class="col-md-12 text-center">
      <%= image_tag avatar_url(@user), class: "round-img" %>
      <h2><%= @user.username %></h2>
      <% if @user == current_user %>
        <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
       <% else %>
        <%= render 'users/follow_form' %>        
        <% end %>
        <section class="stats">
          <%=render 'users/stats' %>
        </section>
        <p>総投稿数: <span><%= @posts.count %></span></p>
    </div>
  </div>
  <div class="card-wrap">
  <div class="row">
  <% @posts.each do |post| %>
   <div class="col-md-4">
    <div>
    <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
    </div>
   </div>
  <% end %>
  </div>
  </div>
 <% if @posts.any? %>
  <%= will_paginate @posts %>
  <% end %>
  
</div>


