<% provide(:title, "ログイン") %>
<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="logo-img mx-auto"></h2>
      </div>
      <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "サインインする", class: "btn btn-primary w-100" %>
        </div>
      <% end %>

      <br>
      
      
      <%= link_to "facebook", user_facebook_omniauth_authorize_path, class: "facebook hide-text" %>
      

      <p class="devise-link">
        アカウントをお持ちでないですか？
        <%= link_to "登録する", new_user_registration_path %>
      </p>

      
  

    </div>
  </div>
</div>