<% provide(:title, "検索結果") %>

   <div class="row">
    <div class="col-md-3">
      <div class="home"> 
        <h1>検索結果</h1>
      </div>
    </div>
    <div class="col-md-6">
      <ul>
      <%= render @search_results %>
      </ul>
    </div>
   </div>
  
