/*universal*/

$light-gray: #777;


section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
h1 {
    margin-bottom: 10px;
  }
 }



 /*typography */

 h1,h2,h3,h4,h5,h6 {
     line-height: 1;
 }

 h1 {
     font-size: 3em;
     letter-spacing: -2px;
     margin-bottom: 30px;
     text-align: center;
 }

 h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    padding-top: 20px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
  }


  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }


// home

.jumbotron-extend {
  background-color: lightblue;
  background-size: cover;
}

.home_subject {
  font-size: 200px;
}

//   header

.navbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 77px;
  #logo{
    float: left;
    margin-right: 10px;
    font-size: 3.0em;
    color: burlywood;
    text-transform: downcase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        color: chocolate;
        text-decoration: none;
    }
  }
  &-nav {
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      }
      .profile-icon {
        background-image: image-url("parts3.png");
      }
    }
  }
}


/* sidebar */

aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }


  