// ページネーション自体のデザイン
.pagination>li>a{
    text-decoration: none;
    color: black
}

// 表示しているページ番号のデザイン
.pagination>.active>a{
    text-decoration: underline;
}

// ホバー時のデザイン
.pagination>li>a:hover{
    color: gray;
}