.users{
  list-style: none;
  margin: 0;
  li{
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid;
  }
}

.user-list-deco{
    text-decoration: none;
    color: black;
  }

.stats {
  overflow: auto;
  margin-top: 10px;
  a {
    padding: 0 10px;
    color: gray;
    border-left: 1px solid gray;
    &:first-child {
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}

