<% if current_user.activities.present? %>
  <% current_user.activities.each do |activity| %>
    <%= render "layouts/#{activity.action_type}", activity: activity %>
    <% end %>
<% else %>
  <div class="dropdown-item">
    <p>お知らせはありません</p>
  </div>
<% end %>
    