<nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <%= link_to "Instalike", posts_path, id: "logo" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% unless controller.controller_name == 'registrations' && controller.action_name == 'home' %>
          <ul class="navbar-nav ml-md-auto align-items-center">
            <%= form_with url: search_path, method: :post, local: true do |f| %>
              <div class="d-inline-flex">
                <%= f.search_field :searchkey, class: "form-control", placeholder: "検索(例:コーヒー、カフェラテ、ミルク)", required: true %>
                <%= f.submit "検索", class: "btn btn-info" %>
              </div>
            <% end %> 
            <li>
              <%= link_to "投稿", new_post_path, class: "btn btn-primary" %>
            </li>
            <li>
              <%=link_to "ユーザー一覧", users_index_path, class: "btn btn-primary" %>
            </li>
            <% if user_signed_in? %>
            <li>
              <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "btn btn-secondary"%>
            </li>
            <li>
              <%= link_to "", user_path(current_user), class: "nav-link commonNavIcon profile-icon" %>
            </li>
            <li class="dropdown">
            <% if unchecked_activities.any? %>
              <i class="fa fa-circle" style="color: gold;"></i>
            <% end %>
              <button type="button" id="dropdown1" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                通知
              </button>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <%= render 'layouts/header_activities' %>
            </div>
            </li>
            <% end %>
          </ul>
         <% end %>
        </div>
      </div>
    </nav>