<%= link_to read_activity_path(activity), class: "dropdown-item border-bottom #{'read' if activity.read?}", method: :patch do %>
 <h6>
   <%= gravatar_for activity.subject.user, size:20 %>
    <%= link_to activity.subject.user.username, user_path(activity.subject.user) %>
   "があなたの"
    <%= link_to "投稿", post_path(activity.subject.post) %>
   "にいいねしました"
 </h6>
<% end %>
