<!DOCTYPE html>
<html>
  <head>
    <title>Instalikeapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= render 'layouts/shim' %>
    </head>

  <body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
  
    
    <div class="container">
      <%= yield %>
    </div>
    <div class="debug_dump">
    <%= debug(params)if Rails.env.development? %>
    </div>
  </div>
  </body>
</html>
